/* Basics */
body, html { overflow: hidden; }
body {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  background: #285759;
  background: linear-gradient(180deg, rgba(53,64,64,1) 0%, rgba(29,41,51,1) 100%);
  color: #fff;
  align-items: top;
  height: 100vh;
  margin: 0;
  line-height: 1.5;
}
a { color: #fff; text-decoration: none; }
a:hover { color: #f7eb5a; }
.container {
  margin-top: 1rem;
  background: #000;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.d-table {
  display: table;
  width: 100%;
}
.d-table-row { display: table-row; }
.d-table-cell { display: table-cell; }
.d-table-cell { display: table-cell; }
.valign-top { vertical-align: top; }
.valign-middle { vertical-align: middle; }
.show { display: block !important; }

/* Header */
.cabal { 
  font-family: "Jim Nightshade";
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 1.25rem; 
  display: block;
  margin-left: 1.5rem;
}
img.cabal-logo { margin-left: 1rem; }
h1, h2, h3, h4, h5, h6 { 
}
h1 {
  font-family: "Jim Nightshade";
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  line-height: 1rem;
}
h2 { 
  text-align: left;
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: 1.5rem;
}
p { text-align: left; }
.small { font-size: 0.8rem; }

/* Questions and Answers */
.questionContainer {
  background-color: #282828;
  border-radius: 0.5rem;
  margin-bottom: 0rem;
}
img.dialogue { width: 2rem; margin: 1rem 0.5rem; }
.answers {
  background-color: #181818;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
button {
  font-size: 1rem;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  border: 0;
  display: block;
  text-align: left;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border-radius: 0.5rem;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  background-color: #181818;
  transition: background-color 0.3s;
}
button:hover { 
	color: #f7eb5a;
  background: #354040;
  background: linear-gradient(90deg, rgba(53,64,64,1) 0%, rgba(53,64,64,1) 20%, rgba(53,64,64,0) 100%);
}
button:active {
  background: #a94600;
  background: linear-gradient(90deg, rgba(169,70,0,1) 0%, rgba(169,70,0,1) 20%, rgba(169,70,0,0) 100%);
}

/* Results styling */
#result {
  font-family: "Jim Nightshade";
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
  padding: 1.25rem 0.75rem 0.75rem 0.75rem;
  margin-bottom: 0;
}

/* Results table */
table { width: 100%; font-size: 0.8rem; }
th, td { padding: 0.25rem; vertical-align: top; overflow: hidden; }
.table-stripe { background-color: #101010; }
.graph { display: inline-block; }
.emblem { display: block; text-align: center; margin-bottom: 1rem; }

/* Ancient Order of Chaos */
#icon-ao { display: none; max-width: 200px; margin-left: auto; margin-right: auto; }
#icon-ao.AO { display: block; }
p.AO { 
  color: #8eb34b;
  border-top: 3px solid #50814b;
  border-bottom: 3px solid #50814b;
  background-color: #315633;
}
#graphAO {  background-color: #50814b; }

/* The Ashen Creed */
#icon-ac { display: none; max-width: 200px; margin-left: auto; margin-right: auto; }
#icon-ac.AC { display: block; }
p.AC { 
  color: #c03834;
  border-top: 3px solid #972d2f;
  border-bottom: 3px solid #972d2f;
  background-color: #411817;
}
#graphAC {  background-color: #972d2f; }

/* Kinship of the Wilds */
#icon-kw { display: none; max-width: 200px; margin-left: auto; margin-right: auto; }
#icon-kw.KW { display: block; }
p.KW { 
  color: #d9b3db;
  border-top: 3px solid #9f5f91;
  border-bottom: 3px solid #9f5f91;
  background-color: #4a2756;
}
#graphKW {  background-color: #9f5f91; }

/* Norsemen of the Shores */
#icon-ns { display: none; max-width: 200px; margin-left: auto; margin-right: auto; }
#icon-ns.NS { display: block; }
p.NS { 
  color: #82ced7;
  border-top: 3px solid #59aabe;
  border-bottom: 3px solid #59aabe;
  background-color: #234a6c;
}
#graphNS {  background-color: #59aabe; }

/* Marauders of Golden Shores */
#icon-mg { display: none; max-width: 200px; margin-left: auto; margin-right: auto; }
#icon-mg.MG { display: block; }
p.MG { 
  color: #98c7b2;
  border-top: 3px solid #69a188;
  border-bottom: 3px solid #69a188;
  background-color: #2b513f;
}
#graphMG {  background-color: #69a188; }