/* Basics */
body, html { overflow: auto; }
body {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  background: #285759;
  background: linear-gradient(180deg, rgba(53,64,64,1) 0%, rgba(29,41,51,1) 100%);
  color: #fff;
  align-items: top;
  height: 100vh;
  margin: 0;
  line-height: 1.5;
}
a { color: #fff; text-decoration: none; }
a:hover { color: #f7eb5a; }
.container {
  margin-top: 1rem;
  background: #000;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.d-table {
  display: table;
  width: 100%;
}
.d-table-row { display: table-row; }
.d-table-cell { display: table-cell; }
.d-table-cell { display: table-cell; }
.valign-top { vertical-align: top; }
.valign-middle { vertical-align: middle; }
.show { display: block !important; }

/* Header */
.cabal { 
  font-family: "Jim Nightshade";
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 1.25rem; 
  display: block;
  margin-left: 1.5rem;
}
img.cabal-logo { margin-left: 1rem; }
h1 {
  font-family: "Jim Nightshade";
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  line-height: 1;
}
h2 { 
  text-align: left;
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: 1.5rem;
  font-weight: normal;
}
p { text-align: left; }
.small { font-size: 0.8rem; }

/* Questions and Answers */
.questionContainer {
  background-color: #282828;
  border-radius: 0.5rem;
  margin-bottom: 0rem;
}
img.dialogue { width: 2rem; margin: 1rem 0.5rem; }
.answers {
  background-color: #181818;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
button {
  font-size: 1rem;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  border: 0;
  display: block;
  text-align: left;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border-radius: 0.5rem;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  background-color: #181818;
  transition: background-color 0.3s;
}
button:hover { 
	color: #f7eb5a;
  background: #354040;
  background: linear-gradient(90deg, rgba(53,64,64,1) 0%, rgba(53,64,64,1) 20%, rgba(53,64,64,0) 100%);
}
button:active {
  background: #a94600;
  background: linear-gradient(90deg, rgba(169,70,0,1) 0%, rgba(169,70,0,1) 20%, rgba(169,70,0,0) 100%);
}

/* Results styling */
#faction { 
  padding: 0.75rem 0.75rem 0.25rem 0.75rem;
  margin-top: 0px;
  margin-bottom: 1rem;
}
.emblem { 
  display: none;
  max-width: 192px;
  margin-bottom: 0rem;
  margin-left: auto;
  margin-right: auto;
}
.factionlabel {
  display: block;
  text-align: center;
  font-family: "Jim Nightshade";
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  text-shadow: 2px 1px #000;
  line-height: 1;
}

/* Results table */
table { width: 100%; font-size: 0.8rem; }
th, td { padding: 0.25rem; vertical-align: top; overflow: hidden; }
.table-stripe { background-color: #101010; }
.graph { display: inline-block; }

/* Ancient Order of Chaos */
div.AO { 
  color: #8eb34b;
  border-top: 3px solid #50814b;
  border-bottom: 3px solid #50814b;
  background: #315633;
  background: linear-gradient(180deg, #315633 0%, #1a331b 100%);
}
div.AO img.emblem-AO { display: block; }
#graphAO {  background-color: #0f8003; }

/* The Ashen Creed */
div.AC { 
  color: #c03834;
  border-top: 3px solid #972d2f;
  border-bottom: 3px solid #972d2f;
  background: #411817;
  background: linear-gradient(180deg, #411817 0%, #2e0f0e 100%);
}
div.AC img.emblem-AC { display: block; }
#graphAC {  background-color: #9c080b; }

/* Kinship of the Wilds */
div.KW { 
  color: #d9b3db;
  border-top: 3px solid #9f5f91;
  border-bottom: 3px solid #9f5f91;
  background: #4a2756;
  background: linear-gradient(180deg, #4a2756 0%, #33173c 100%);
}
div.KW img.emblem-KW { display: block; }
#graphKW {  background-color: #792266; }

/* Norsemen of the Shores */
div.NS { 
  color: #82ced7;
  border-top: 3px solid #59aabe;
  border-bottom: 3px solid #59aabe;
  background: #234a6c;
  background: linear-gradient(180deg, #234a6c 0%, #122c43 100%);
}
div.NS img.emblem-NS { display: block; }
#graphNS {  background-color: #0e9abd; }

/* Marauders of Golden Shores */
div.MG { 
  color: #98c7b2;
  border-top: 3px solid #69a188;
  border-bottom: 3px solid #69a188;
  background-color: #2b513f;
  background: linear-gradient(180deg, #2b513f 0%, #1a3b2c 100%);
}
div.MG img.emblem-MG { display: block; }
#graphMG {  background-color: #0ba761; }